.container {
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    /* Erlaubt den Elementen, in mehrere Zeilen zu fließen */
}

form,
article {
    border: 3px solid #2596be;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    box-sizing: border-box;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

h1,
h2,
p,
label,
input,
select,
button {
    border: 3px solid #2596be;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    /* Ecken abrunden */
}
input,
textarea,
select {
    margin-bottom: 20px;
}