[project]
name = "eventfully"
version = "0.1.0"
description = "Add your description here"
authors = [
    { name = "2mal3", email = "56305732+2mal3@users.noreply.github.com" }
]
dependencies = [
    "flask>=3.0.0",
    "peewee>=3.17.0",
    "openai>=1.6.1",
    "python-dotenv>=1.0.0",
    "selenium>=4.16.0",
    "imap-tools>=1.5.0",
    "uvicorn>=0.25.0",
]
readme = "README.md"
requires-python = ">= 3.8"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.rye.scripts]
serve = "uvicorn eventfully.main:app"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["eventfully"]
