<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <title>Search Event</title>
  </head>
  <body>
    <main class="container">
      <div
        style="
          display: flex;
          align-items: baseline;
          justify-content: space-between;
        "
      >
        <h1>Search Event</h1>
        <img src="logo.png" alt="Logo" />
      </div>

      <form action="api/events/search" method="get">
        <div class="grid">
          <div>
            <label for="search">Suche</label>
            <input id="search" type="search" placeholder="Suche" autofocus />
          </div>

          <div>
            <!-- Plus-Button, um zur anderen Seite zu gelangen -->
            <button type="button" onclick="window.location.href='/addWindow';">
              +
            </button>
          </div>

          <div>
            <!-- Button, um zur Unterseite zu gelangen -->
            <button
              type="button"
              onclick="window.location.href='/filterseting';"
            >
              Filtereinstellungen
            </button>
          </div>
        </div>

        <div class="grid">
          <button type="submit">Suchen</button>
        </div>
      </form>

      <h1 aria-busy="true"></h1>

      <!--Hier EventCard-Komponenten-->
    </main>

    <!-- Hier können Sie den Pfad zu Ihrer JavaScript-Datei angeben -->
  </body>
</html>
