<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>

    <title>Search Event</title>
    <style>
      .img-fluid {
        max-width: 100%;
        height: auto;
      }
      #turtle{
      animation: 15s infinite linear slide;
      }

        @keyframes slide {
        from {
        margin-left: 100%;
        }

        to {
        margin-left: 0%;
        }
        }
    </style>

    <script>
        /**function move() {
          let turtule = document.getElementById("turtle");
          right = parseInt(turtle.style.right);
          if (parseInt(turtle.getBoundingClientRect().left) > 0) {
            turtle.style.right = right + 5 + "px";
          } else {
            turtle.style.right = "0px";
          }
        }
        window.onload = function () {
          setInterval(move, 100);
        };*/
    </script>
</head>
<body>
<div class="row" style="position: relative">
    <div class="col-md-2">
        <img src="../static/schildkröte.gif"
             id="turtle"

             alt="Logo"/>
    </div>
    <div class="col-md-8">
        <h1>Search Event</h1>
    </div>
    <div class="col-md-2">
        <img src="../static/logo.png" class="img-fluid" alt="Logo"/>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <button type="button"
                onclick="window.location.href='/filterseting';"
                class="bnt btn-secondary mb-2">
            |||
        </button>
    </div>
    <form hx-get="/api/events/search" hx-target="#search-result" hx-swap="innerHTML">
        <div class="col-md-8">
            <input
                    id="search"
                    name="search"
                    type="text"
                    placeholder="Suche"
                    autofocus
                    class="form_control"
            />
        </div>

        <!-- Plus-Button, um zur anderen Seite zu gelangen -->
        <div class="col-md-2">
            <button
                    type="button"
                    onclick="window.location.href='/addWindow';"
                    class="btn btn-primary mb-2">
                +
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">
                    Suchen
                </button>
            </div>
        </div>
    </form>


    <!-- Show events -->
    <div class=row">
        <div class="col-md-12" id="search-result"></div>
    </div>
</div>
</body>
</html>
