<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "default_head.html" %}

    <title>Neues Event hinzufügen</title>
  </head>
  <body>
    <div class="container">
      <h1>Neues Event hinzufügen</h1>

      <form class="form-grid" hx-post="/api/api/add_event">
        <label for="titel">Titel:</label><br />
        <input type="text" id="titel" name="titel" /><br />

        <label for="beschreibung">Beschreibung:</label><br />
        <textarea id="description" name="description"></textarea><br />

        <label for="link">Link:</label><br />
        <input type="text" id="link" name="link" /><br />

        <label for="kategorie">Kategorie:</label><br />
        <select id="tag" name="tag">
          <option value="">--Bitte wählen Sie eine Option--</option>
          <option value="MINT">MINT</option>
          <option value="Politik">Politik</option>
          <option value="Bürgerbeteiligung">Bürgerbeteiligung</option>
          <option value="Sprache">Sprache</option>
          <option value="Handwerk">Handwerk</option>
          <option value="Informatik">Informatik</option>
          <option value="Kunst/Kultur">Kunst/Kultur</option>
          <option value="Geschichte">Geschichte</option>
          <option value="Logikspiele/Spiele">Logikspiele/Spiele</option>
          <option value="Sport">Sport</option>

          <!-- Fügen Sie hier weitere Optionen hinzu --></select
        ><br />

        <label for="ort">Ort:</label><br />
        <input type="text" id="location" name="location" /><br />

        <label for="preis">Preis:</label><br />
        <input type="number" id="price" name="price" /><br />

        <button type="submit">Hinzufügen</button>
      </form>
    </div>
  </body>
</html>
