<!DOCTYPE html>
<html
        lang="de"
        x-data="{ darkMode: localStorage.getItem('dark') === 'true' }"
        x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
        x-bind:class="darkMode ? 'dark' : ''"
        x-bind:data-theme="darkMode ? 'dark' : 'light'"
        class="dark:bg-gray-900 bg-gray-200"
>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description"
        content="Eventfully is a software to find and explore new events in your area and learn more about culture, technology and more from one website. It combines many different event sites in one and there are many events in your area and in Europe. Plus, you can connect with people and make new friends and have an exprerience you never had before. Eventfully eliminates the hard search for events on the Internet and it has many different events so that everyone can find the event they are looking for."
  >

  {% include "components/head_links.html" %}

  {% block head %}
    <title>Eventfully</title>
  {% endblock %}
</head>

{% block body %}
{% endblock %}
</html>
