<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
	<title>Event</title>
</head>
<body>
	<article>
		<h2>Event Titel</h2>

		<p>Event Beschreibung</p>

		<footer>
			<!-- EuroIcon -->
			Event Preis <br />
			<!-- MapPinIcon -->
			Event Ort <br />
			<!-- CalendarDaysIcon -->
			Event Startdatum <br />
			<!-- TagIcon --> Event Themen <br>

			<!-- GlobeIcon --> <a href="Event Link">Event Link</a>
		</footer>
	</article>

     <!-- Hier können Sie den Pfad zu Ihrer JavaScript-Datei angeben -->
    
 </body>

 </html> 
