<!DOCTYPE html>
<html
  lang="de"
  x-data="{ darkMode: localStorage.getItem('dark') === 'true' }"
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="darkMode ? 'dark' : ''"
  x-bind:data-theme="darkMode ? 'dark' : 'light'"
  class="dark:bg-gray-900 bg-gray-200"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventfully</title>
    <link rel="stylesheet" href="/static/output.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"
      integrity="sha384-XBJ5+bq4ga1+0s+J4sl6njqQ9C/YIfKeQw18HypSuGEaPm1g/VWaNdsQ5d3sE1qi"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {% include 'index.html' %}
  </body>
</html>
