<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventfully</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <style>
        .dark-mode {
            background-color: #1a202c;
            color: #a0aec0;
        }
        .dark-mode .bg-white {
            background-color: #2d3748;
        }
        .dark-mode .text-black {
            color: #a0aec0;
        }
    </style>
</head>
<body class="bg-gray-200 p-6 text-black">
    <div class="container mx-auto">
        <header class="flex justify-between items-center bg-white rounded shadow p-6 mb-4">
            <h1 class="text-3xl font-bold">Eventfully</h1>
            <div>
                {%if logged_in %}
                    <span class="mr-2">{{ username }}</span>
                    <button onclick="window.location.href='/profile'" class="bg-blue-500 text-white rounded p-2 mr-2">Profil</button>
                    <button onclick="window.location.href='/accounts/logout'" class="bg-red-500 text-white rounded p-2 mr-2">Abmelden</button>
                {% else %}
                    <button id="loginBtn" class="bg-blue-500 text-white rounded p-2 mr-2">Anmelden</button>
                {% endif %}
                <button id="darkModeBtn" class="ml-2 bg-gray-500 text-white rounded p-2">🌞</button>
            </div>
        </header>
        <main>
            <section class="bg-white rounded shadow p-6 mb-4">
                <h2 class="text-2xl mb-4">Event Suche</h2>
                <form class="flex items-center" hx-get="/api/search" hx-target="#event-search-result">
                    <input class="w-full p-2 border rounded mb-2" type="text" placeholder="Suche nach Events...">
                    <button type="submit" class="ml-2 bg-blue-500 text-white rounded p-2">Suchen</button>
                    <button class="ml-2 bg-green-500 text-white rounded p-2">Filter</button>
                </form>
            </section>
            <section id="event-search-result" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"></section>
        </main>
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="fixed inset-0 flex items-center justify-center z-50 invisible opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out">
        <form
            hx-post="/accounts/add_account"
            id="loginBox" class="bg-white rounded shadow p-6 m-4 max-w-xs max-h-full text-center"
            hx-swap="none"
        >
            <h2 class="text-2xl mb-4">Anmelden</h2>
            <input id="email" name="email" class="w-full p-2 border rounded mb-2" type="email" placeholder="E-Mail" required>
            <input id="username" name="username" class="w-full p-2 border rounded mb-2" type="text" placeholder="Benutzername" required>
            <input id="password" name="password" class="w-full p-2 border rounded mb-2" type="password" placeholder="Passwort" required>
            <button type="submit" class="w-full bg-green-500 text-white rounded p-2">Jetzt registrieren</button>
      <!--  <button class="w-full bg-blue-500 text-white rounded p-2 mb-2">Anmelden</button> -->
        </form>
    </div>
    {% if logged_in == False %}
    <script>
     loginBtn.addEventListener('click', function() {
            loginModal.classList.remove('invisible', 'pointer-events-none', 'opacity-0');
            loginModal.classList.add('visible', 'pointer-events-auto', 'opacity-100');
        });
    </script>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Verbesserter Dunkelmodus-Code
            var darkModeBtn = document.getElementById('darkModeBtn');
            var preferredTheme = localStorage.getItem('preferredTheme');
            const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

            const applyTheme = (theme) => {
                document.body.classList.toggle('dark-mode', theme === 'dark');
                darkModeBtn.textContent = theme === 'dark' ? '🌜' : '🌞';
            };

            if (preferredTheme) {
                applyTheme(preferredTheme);
            } else if (systemPrefersDark) {
                applyTheme('dark');
            }

            darkModeBtn.addEventListener('click', () => {
                let currentTheme = document.body.classList.contains('dark-mode') ? 'dark' : 'light';
                let newTheme = currentTheme === 'dark' ? 'light' : 'dark';
                localStorage.setItem('preferredTheme', newTheme);
                applyTheme(newTheme);
            });

            // Vorhandener Code für das Anmeldefenster
            var loginModal = document.getElementById('loginModal');
            var loginBox = document.getElementById('loginBox');
            var loginBtn = document.getElementById('loginBtn');
        });
    </script>
</body>
</html>
