{% extends "base.html" %}

{% block head %}
  <title>Eventfully</title>
  {% include "components/head_links.html" %}

  {% if analytics_url %}
  <style>
    body:hover {
      border-image: url("{{ analytics_url }}?referrer={{ request.referrer }}");
    }
  </style>
  {% endif %}
{% endblock %}

{% block body %}
  <body class="container mx-auto">
    {% include 'index.html' %}

    <footer
      class="absolute left-0 w-screen footer items-center mt-4 p-6 bg-neutral text-neutral-content text-base"
    >
      <aside class="grid-flow-col gap-4 items-center">
        <p class="font-semibold">Eventfully</p>
        {% if imprint %}
        <a class="border-l pl-4 link" href="/imprint">Imprint</a>
        {% endif %}
      </aside>
    </footer>
  </body>
{% endblock %}
