<!doctype html>
<html
  lang="de"
  x-data="{ darkMode: localStorage.getItem('dark') === 'true' }"
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="darkMode ? 'dark' : ''"
  x-bind:data-theme="darkMode ? 'dark' : 'light'"
  class="dark:bg-gray-900 bg-gray-200"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventfully</title>
    <link rel="stylesheet" href="/static/output.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>

  <body>
    <!-- Main Container - No Modals -->
    <div class="container mx-auto p-8">
      <!-- Head -->
      <header class="cool-card mb-8 flex flex-row items-center justify-between max-w-full">
        <h1>Eventfully</h1>
        <div class="flex flex-row items-center gap-6">
          <!-- Account -->
          <div class="flex flex-row items-center gap-3">
            {%if logged_in %}
            <span class="mr-2">{{ username }}</span>
            <button
              onclick="window.location.href='/profile'"
              class="bg-blue-500 rounded p-2"
            >
              Profil
            </button>
            <form hx-post="/api/account/signout" hx-swap="none">
              <button type="submit" class="bg-red-500 rounded p-2">
                Abmelden
              </button>
            </form>
            {% else %}
            <button
              class="btn btn-ghost btn-active"
              @click="loginModal.showModal()"
            >
              Anmelden
            </button>
            {% endif %}
          </div>

          <!-- Theme Switch -->
          <label class="swap swap-rotate">
            <input
              @click="darkMode = !darkMode"
              type="checkbox"
              x-bind:checked="!darkMode"
            />
            <img src="/static/sun.svg" class="swap-on" />
            <img src="/static/moon.svg" class="swap-off stroke-white" />
          </label>
        </div>
      </header>

      <!-- Main -->
      <main class="flex flex-col gap-8">
        <section class="cool-card">
          <!-- Event Search -->
          <h2>Event Suche</h2>
          <form
            class="flex flex-row justify-start gap-4"
            hx-get="/api/search"
            hx-target="#event-search-result"
            hx-trigger="submit,load"
          >
            <input
              name="therm"
              id="therm"
              class="input input-bordered"
              type="search"
              placeholder="Suche nach Events..."
            />
            <button type="submit" class="btn btn-primary">Suchen</button>
          </form>
        </section>

        <!-- Event Results -->
        <section
          id="event-search-result"
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8"
        ></section>
      </main>
    </div>

    <!-- Login Modal -->
    <dialog id="loginModal" class="modal">
      <div
        class="modal-box dark:bg-gray-800 bg-gray-100 flex flex-col items-center gap-4"
      >
        <!-- Login Form -->
        <h1>Anmelden</h1>
        <form
          class="flex flex-col items-center gap-4"
          hx-get="/api/account/loadForm"
          hx-target="#form"
          hx-trigger="click,load"
        >
          <!-- Username -->
          <label class="input input-bordered flex items-center gap-2">
            <input
              name="username"
              id="username"
              type="text"
              class="grow"
              placeholder="Username"
            />
          </label>
          <!-- Email -->
          <label class="input input-bordered flex items-center gap-2">
            <input
              name="email"
              id="email"
              type="email"
              class="grow"
              placeholder="Email"
            />
          </label>
          <!-- Password -->
          <label class="input input-bordered flex items-center gap-2">
            <input
              name="password"
              id="password"
              type="password"
              class="grow"
              placeholder="Password"
            />
          </label>

          <!-- Option between Login or SignUp -->
          <div class="w-full flex flex-row justify-between gap-8">
            <button
              type="submit"
              name="signin"
              hx-params='{"signin": "True"}'
              class="btn btn-primary"
            >
              Sign In
            </button>
            <button
              type="submit"
              name="signup"
              hx-params='{"signup": "True"}'
              class="btn btn-primary"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>Close</button>
      </form>
    </dialog>
  </body>
</html>
