{% extends "base.html" %}

{% block head %}
  <title>Eventfully Legal Notice</title>
  {% include "components/head_links.html" %}

  {% if analytics_url %}
  <style>
    body:hover {
      border-image: url("{{ analytics_url }}?action=legal_notice");
    }
  </style>
  {% endif %}
{% endblock %}

{% block body %}
  <body class="container mx-auto">
    {% include "components/navbar.html" %}

    <section class="cool-card mt-8">
      <h1 class="mb-4">Legal Notice</h1>

      <p class="prose whitespace-pre-line">{{ legal_notice }}</p>
    </section>
  </body>
{% endblock %}
