<!doctype html>
<html lang="en">
<head>
    {% include "default_head.html" %}

    <title>Eventfullly</title>
    <style>
        #turtle {
          animation: 15s infinite linear slide;
        }

        @keyframes slide {
          from {
            margin-left: 100%;
          }

          to {
            margin-left: 0%;
          }
        }
    </style>
</head>

<header>
    <nav class="navbar shadow container-fluid">
        <div class="container-fluid">
            <div class="navbar-brand">
<!--                <img src="/static/logo.png" style="width: 1em; height: 1em" alt="Logo"/>-->
                <h1>Eventfully</h1>
            </div>
            <form
                    hx-get="/api/events/search"
                    hx-target="#search-result"
                    hx-swap="innerHTML"
                    role="search"
                    class="d-flex"
            >
                <input
                        id="search"
                        name="search"
                        type="text"
                        placeholder="Suche"
                        autofocus
                        class="form-control shadow-sm me-2"
                />

                <!-- Plus-Button, um zur anderen Seite zu gelangen -->
                <button type="submit" class="btn btn-primary shadow-sm">Suchen</button>
            </form>
        </div>
    </nav>
</header>

<body>

<main class="container">
    <!-- Show events -->
    <div class="container" id="search-result"></div>
</main>

<footer>
    <div style="position: absolute; width: 80%">
        <img src="/static/schildkröte.gif" id="turtle" alt="Logo"/>
    </div>
</footer>
</body>
</html>
