<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
  {% if not events %}
  <div class="center">
  ><p>{{ t("errorMsg") }}</p>
    <p>{{ t("pleaseWait") }}</p>
  </div>
  {% endif %}
  {% for item in events %}

  <div class="cool-card w-full static" style="padding: 0 !important">
    {% if user %}
    <div class="absolute m-4">
      {% if item.id in liked_events %} {% include
      'components/liked-true-button.html' %} {% else %} {% include
      'components/liked-false-button.html' %} {% endif %}
    </div>
    {% endif %}

    <figure class="pt-8 px-8 w-full h-72 rounded-xl">
      <img
        src="{{ item.image_link }}"
        loading="lazy"
        class="object-cover object-center size-full"
        alt="Event Cover"
        style="border-radius: inherit"
      />
    </figure>

    <div class="card-body gap-4">
      <div>
        <!-- Category -->
         {% if item.category %}
        <span class="badge badge-neutral capitalize">
          {{ t("category." + item.category) }}
        </span>
        {% endif %}

        <!-- Title -->
        <h2 class="card-title flex-gap-1">
          <a href="{{ item.web_link }}" target="_blank" rel="noopener">
            {{ item.title }} 
          </a>
          <a href="{{ item.web_link }}" target="_blank" rel="noopener">
            {% include 'components/icons/external-link.html' %}
          </a>
        </h2>
      </div>

      <p class="line-clamp-4 prose">{{ item.description }}</p>

      <div class="flex flex-col gap-2">
        <!-- Location -->
        {% if item.address %}
        <div class="flex flex-col">
          <a href="https://www.google.de/maps/search/{{ item.address }}" target="_blank" rel="noopener noreferrer">
          <div class="flex gap-2">
            {% include 'components/icons/map-pin.html' %}
            <span class="font-bold">{{ t("location") }}</span>
          </div>
          <p class="prose">{{ item.address }}</p>
        </a>
        </div>
        {% endif %}

        <!-- Price -->
        {% if item.price %}
        <div class="flex flex-col">
          <div class="flex gap-2">
            {% include 'components/icons/dollar-sign.html' %}
            <span class="font-bold">{{ t("price") }}</span>
          </div>
          <p class="prose">{{ item.price }}</p>
        </div>
        {% endif %}
      </div>

      {% if user %}
      <div class="dropdown">
        <button tabindex="0" class="btn btn-ghost btn-active">
          Share With Groups
        </button>

        <ul
          tabindex="0"
          class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
        >
          {% for group in groups %} {% if not group.id in shared_event_ids %}
          <li>
            <a
              class="btn m-1"
              hx-get="/api/group/share?event_id={{item.id}}&group_id={{group.id}}"
              hx-swap="outerHTML"
            >
              '{{ group.name }}' group
            </a>
          </li>

          {% endif %} {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</section>
