<link rel="stylesheet" href="/static/output.css"/>
<script
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"
></script>
<script
        defer
        src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"
        integrity="sha384-XBJ5+bq4ga1+0s+J4sl6njqQ9C/YIfKeQw18HypSuGEaPm1g/VWaNdsQ5d3sE1qi"
        crossorigin="anonymous"
></script>
<script src="/static/add-to-calendar-button.js" async defer></script>
<!--    Favicon-->
<link rel="icon" type="image/png" href="/static/favicon.png"/>
