<header
  class="cool-card my-8 flex flex-row items-center justify-between max-w-full"
>
  <h1>Eventfully</h1>

  <div class="flex flex-row items-center gap-6">
    <!-- Account -->
    <div class="flex flex-row items-center gap-3">
      {%if user %}
      <span class="mr-2">{{ user.name }}</span>
      <button
        onclick="window.location.href='/profile'"
        class="bg-blue-500 rounded p-2"
      >
        {{ t("profile") }}
      </button>
      <form hx-post="/api/account/signout" hx-target="body" \>
        <button type="submit" class="bg-red-500 rounded p-2">Logout</button>
      </form>
      {% else %}
      <button class="btn btn-ghost btn-active" @click="loginModal.showModal()">
        {{ t("login") }}
      </button>

      <button
        class="btn btn-ghost btn-active"
        @click="RegisterModal.showModal()"
      >
        {{ t("register") }}
      </button>
      {% endif %}
    </div>

    <!-- Theme Switch -->
    <label class="swap swap-rotate">
      <input
        @click="darkMode = !darkMode"
        type="checkbox"
        x-bind:checked="!darkMode"
      />
      <div class="swap-on">{% include 'components/icons/sun.html' %}</div>
      <div class="swap-off">{% include 'components/icons/moon.html' %}</div>
    </label>
  </div>
</header>
