<header class="navbar cool-card my-8" style="padding: 1rem !important;">
  <!-- navigation menu in dropown -->
  <div class="navbar-start">
    <div class="flex">
      <div class="dropdown z-50">
        <button tabindex="0" class="btn btn-ghost btn-circle">
          {% include 'components/icons/menu.html' %}
        </button>
        <ul
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
          <li><a href="/">{{ t("burger.home") }}</a></li>
          <li><a href="/groups">{{ t("burger.groups") }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Title -->
  <div class="navbar-center">
    <a href="/">
      <h1>Eventfully</h1>
    </a>
  </div>

  <!-- General Acctions -->
  <div class="navbar-end">
    <!-- Account Info -->
    {%if user %}
    <div class="flex gap-2">
      <div class="dropdown dropdown-end z-50">
        <button tabindex="0" class="btn btn-ghost btn-circle avatar">
          {% include 'components/icons/user.html' %}
        </button>
        <ul
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
        <li><p>{{ user.name }}</p></li>
        <form hx-post="/api/account/signout" method="post">
          <li>
              <button type="submit" class="btn btn-primary">{{ t("logout") }}</button>
          </li>
        </form>
        </ul>
      </div>
      {% else %}
      <div class="flex gap-2">
        <button
          class="btn btn-ghost btn-active"
          @click="loginModal.showModal()"
        >
          {{ t("login") }}
        </button>

        <button
          class="btn btn-ghost btn-active"
          @click="RegisterModal.showModal()"
        >
          {{ t("register") }}
        </button>
        {% endif %}

        <!-- Theme Switch -->
        <label class="swap swap-rotate btn btn-ghost btn-circle">
          <input
            @click="darkMode = !darkMode"
            type="checkbox"
            x-bind:checked="!darkMode"
          />
          <div class="swap-on">{% include 'components/icons/sun.html' %}</div>
          <div class="swap-off">{% include 'components/icons/moon.html' %}</div>
        </label>
      </div>
    </div>
  </div>
</header>

<!-- Login Modal -->
<dialog id="loginModal" class="modal">
  <div
    class="modal-box dark:bg-gray-800 bg-gray-100 flex flex-col items-center gap-4"
  >
    <!-- Login Form -->
    <h1>{{ t("login") }}</h1>
    <form
      class="flex flex-col items-center gap-4"
      hx-post="/api/account/signin"
      hx-trigger="submit"
      hx-target="body"
    >
      <!-- Username -->
      <input
        name="username"
        id="signin-username"
        type="text"
        class="grow input input-bordered"
        placeholder="{{ t('username') }}"
      />

      <!-- Password -->
      <input
        name="password"
        id="signin-password"
        type="password"
        class="grow input input-bordered"
        placeholder="{{ t('password') }}"
      />

      <div class="w-full flex flex-row justify-center gap-8">
        <button type="submit" class="btn btn-primary">{{ t("login") }}</button>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>

<!-- Register Modal -->
<dialog id="RegisterModal" class="modal">
  <div
    class="modal-box dark:bg-gray-800 bg-gray-100 flex flex-col items-center gap-4"
  >
    <!-- Register Form -->
    <h1>{{ t("register") }}</h1>
    <form
      class="flex flex-col items-center gap-4"
      hx-post="/api/account/signup"
      hx-trigger="submit"
      hx-target="body"
    >
      <!-- Username -->
      <input
        name="username"
        id="signup-username"
        type="text"
        class="grow input input-bordered"
        placeholder="{{ t('username') }}"
      />

      <!-- Email -->
      <input
        name="email"
        id="signup-email"
        type="email"
        class="grow input input-bordered"
        placeholder="{{ t('email') }}"
      />

      <!-- Password -->
      <input
        name="password"
        id="signup-password"
        type="password"
        class="grow input input-bordered"
        placeholder="{{ t('password') }}"
      />

      <div class="w-full flex flex-row justify-center gap-8">
        <button type="submit" class="btn btn-primary">
          {{ t("register") }}
        </button>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>{{ t("cancel") }}</button>
    </form>
  </div>
</dialog>
