<header
        class="navbar w-full flex-wrap items-center justify-between px-4 py-2 cool-card my-8 relative"
        style="z-index: 10000;"
>
  <!-- Left: Burger + Logo -->
  <div class="navbar-start flex items-center gap-2">
    <div class="dropdown">
      <div tabindex="-1" class="btn btn-ghost btn-circle">
        {% include 'components/icons/menu.html' %}
      </div>
      <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box mt-3 w-52 p-2 shadow">
        <li><a href="/">{{ t("burger.home") }}</a></li>
        {% if CONFIG.EVENTFULLY_ACCOUNTS_ENABLED and user %}
          <li><a href="/groups">{{ t("burger.groups") }}</a></li>
        {% endif %}
      </ul>
    </div>

    <a href="/" class="text-xl font-bold">
      Eventfully
    </a>
  </div>

  <!-- Right: Login/Register or User Menu + Theme Switch -->
  <div class="navbar-end flex items-center gap-2">
    {% if CONFIG.EVENTFULLY_ACCOUNTS_ENABLED %}
      {% if user %}
        <!-- User Dropdown -->
        <div class="dropdown dropdown-end">
          <label tabindex="-1" class="btn btn-ghost btn-circle avatar">
            {% include 'components/icons/user.html' %}
          </label>
          <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box mt-3 w-52 p-2 shadow">
            <li><p>{{ user.name }}</p></li>
            <form hx-post="/api/account/signout" method="post">
              <li>
                <button type="submit" class="btn btn-primary">{{ t("logout") }}</button>
              </li>
            </form>
            <br>
            <form
                    hx-get="/api/search?show=liked"
                    hx-target="#event-search-result"
                    hx-trigger="submit,load"
                    hx-indicator=".htmx-indicator"
            >
              <li>
                <button type="submit" class="btn btn-primary">{{ t("favourites") }}</button>
              </li>
            </form>
          </ul>
        </div>
      {% else %}
        <!-- Login / Register Buttons -->
        <button class="btn btn-ghost btn-active" @click="loginModal.showModal()">
          {{ t("login") }}
        </button>
        <button class="btn btn-ghost btn-active" @click="RegisterModal.showModal()">
          {{ t("register") }}
        </button>
      {% endif %}
    {% endif %}

    <!-- Theme Switch -->
    <label class="swap swap-rotate btn btn-ghost btn-circle">
      <input @click="darkMode = !darkMode" type="checkbox" x-bind:checked="!darkMode"/>
      <div class="swap-on">{% include 'components/icons/sun.html' %}</div>
      <div class="swap-off">{% include 'components/icons/moon.html' %}</div>
    </label>
  </div>
</header>

<!-- Login Modal -->
<dialog id="loginModal" class="modal">
  <div class="modal-box dark:bg-gray-800 bg-gray-100 flex flex-col items-center gap-4">
    <h1>{{ t("login") }}</h1>
    <form
            class="flex flex-col items-center gap-4"
            hx-post="/api/account/signin"
            hx-trigger="submit"
            hx-target="body"
    >
      <input
              name="username"
              id="signin-username"
              type="text"
              class="grow input input-bordered"
              placeholder="{{ t('username') }}"
      />
      <input
              name="password"
              id="signin-password"
              type="password"
              class="grow input input-bordered"
              placeholder="{{ t('password') }}"
      />
      <div class="w-full flex flex-row justify-center gap-8">
        <button type="submit" class="btn btn-primary">{{ t("login") }}</button>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>

<!-- Register Modal -->
<dialog id="RegisterModal" class="modal">
  <div class="modal-box dark:bg-gray-800 bg-gray-100 flex flex-col items-center gap-4">
    <h1>{{ t("register") }}</h1>
    <form
            class="flex flex-col items-center gap-4"
            hx-post="/api/account/signup"
            hx-trigger="submit"
            hx-target="body"
    >
      <input
              type="text"
              name="username"
              id="signup-username"
              class="input validator"
              required
              placeholder="{{ t('username') }}"
              minlength="4"
              maxlength="20"
      />
      <!-- <input
        name="email"
        id="signup-email"
        type="email"
        class="grow input input-bordered"
        placeholder="{{ t('email') }}"
      /> -->
      <input
              type="password"
              name="password"
              id="signup-password"
              class="input validator"
              required
              placeholder="{{ t('password') }}"
              minlength="8"
              maxlength="64"
      />
      <div class="w-full flex flex-row justify-center gap-8">
        <button type="submit" class="btn btn-primary">{{ t("register") }}</button>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>{{ t("cancel") }}</button>
    </form>
  </div>
</dialog>

<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function () {
        // Add a click event listener to the Register Modal dialog.
        document.getElementById('RegisterModal').addEventListener('click', function (e) {
            // If the click is directly on the dialog element (the backdrop) and not inside its child elements, close it.
            if (e.target === this) {
                this.close();
            }
        });
    });
</script>